#logo-img img{
  width: 120px;
  height: 90px;
}
.navbar{
  font-family: $open-sans;
  margin-right: 220px;
  margin-top: 10px;
  ul{
    list-style: none;
    li{
      display: inline-block;
      padding: 20px;
      a{
        font-weight: 700;
        font-size: 1em;
        color: #FFFFFF;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover{
        background: rgba(0,0,0,0.5);
        transition: 0.2s;
        a{
          color: #fff;
        }
      }
    }
    .active{
      background: rgba(0,0,0,0.5);
      a{
        color: #FFFFFF;
      }
    }
  }
}